{{define "title"}}Game Play{{end}}

{{define "body"}}
<h1 class="text-muted text-center fw-lighter">Remember The Sequence</h1>
<hr />
<br />

<div id="bubble1" class="bubble" style="display: none;">
  <div class="cube1Div">
    <p id="cube1" class="cube"></p>
  </div>
</div>
<div id="bubble2" class="bubble" style="display: none;">
  <div class="cube1Div">
    <p id="cube2" class="cube"></p>
  </div>
</div>
<div id="bubble3" class="bubble" style="display: none;">
  <div class="cube1Div">
    <p id="cube3" class="cube"></p>
  </div>
</div>
<div id="bubble4" class="bubble" style="display: none;">
  <div class="cube1Div">
    <p id="cube4" class="cube"></p>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<div class="btn-start-section">
  <button id="BtnStart" class="btn btn-group-sm btn-outline-dark col-6">
    Start Game
  </button>
  <button onClick="window.location.reload();" id="BtnRestart" class="btn btn-group-sm btn-outline-dark col-6"
    style="visibility:hidden;">
    Restart
  </button>
</div>
<hr />
<div class="btn-toolbar mb-3 justify-content-center align-content-center" role="toolbar"
  aria-label="Toolbar with button groups">
  {{range $i, $a := .}}
  <!-- {{$a}} : {{$i}} -->

  {{ if or (eq $i 14) (eq $i 0) }}
  <div class="btn-group me-2 align-center" role="group" aria-label="First group">
    {{end}}
    <button onclick="choose('{{$i}}')" type="button" class="btn btn-outline-secondary"> {{$a}}
    </button>
    {{ if or (eq $i 13) (eq $i 25) }}
  </div>
  {{end}}
  {{end}}
</div>

</div>
<div class="player-container">
  <p id="player_input" class="player-input-style"></p>
  <p id="answer" class="player-answer"></p>
</div>


{{end}}